version: '3.8'
services:
  front_node:
    build: .
    stdin_open: true
    tty: true
    volumes:
      - ./app:/app
    ports:
      - 8000:8000
    working_dir: /app/my-gatsby-site
    command: gatsby develop --host=0.0.0.0
